---
import Nagano from "../components/Nagano.astro";
import Layout from "../layouts/Layout.astro";
---
<head>
    <title>Going to Nagano | kokko's blog</title>
</head>
<Layout>
    <Nagano />
</Layout>