<head>
    <title>Blog | Kokko's Blog</title>
</head>
<div id="container">
    <h1 class="blog-title">Blog</h1>
    <p class="blog-description">日常をブログ形式でまとめてます．</p>
</div>
<style>
    #container {
        margin: 40px 100px;
        align-items: center;
    }
    .blog-title {
        font-size: 2.6em;
        font-weight: bold;
        margin-bottom: 0.2em;
        letter-spacing: 0.04em;
    }
    .blog-description {
        color: #444;
        margin-bottom: 0.5em;
        line-height: 2em;
    }
</style>