<head>
    <title>Contact | Kokko's Blog</title>
</head>
<div id="container">
    <h1>Contact</h1>
    <p>ご依頼・ご用件は，<br>こちらからお問い合わせください．</p>
    <form>
        <label for="subject">Subject（件名）</label>
        <input type="text" id="subject">

        <label for="name">Name（お名前）</label>
        <input type="text" id="name">

        <label for="email">Mail（メールアドレス）</label>
        <input type="email" id="email">

        <label for="message">Please enter your message here（お問い合わせ内容）</label>
        <textarea id="message"></textarea>

        <button type="submit">Submit（送信する）</button>
    </form>
    <div>
        <ul>
            <li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://x.com">X</a></li>
            <li><a href="https://instagram.com">Instagram</a></li>
        </ul>
    </div>
</div>

<style>

</style>