<div id="choco-bg"></div>
<script type="module" src="/src/components/dancing_chocochips.js"></script>
<style>
    #choco-bg {
        position: fixed;
        width: 200vw;
        height: 100vh;
        top: -40px;
        left: 0;
        z-index: -1;
        pointer-events: none;
    }
</style>
