<div id="choco-bg"></div>
<script type="module" src="/src/components/dancing_chocochips.js"></script> 
<style>
#choco-bg {
    position: fixed;
    width: 200%;
    height: 0;
    top: -45px;
    z-index: -1;
    pointer-events: none;
}
</style>