<head>
    <title>Kokko's Blog</title>
</head>
<div id="container">
    <section class="top-background">
        <h1>I'm kokko</h1>
    </section>
    <section class="news">
        <h2>最近のできごと</h2>
        <ul class="news-ul">
            <li class="news-li">2025-07-22 研究室内のHPコンテスト出場</li>
            <p>当日テンパったときのために，ここにメモっときます</p>
            <p></p>
            <li class="news-li">2025-07-14 左の上下2本の親知らずを抜きました．</li>
            <p>めっちゃ痛かったです．俺だったら死んでるね．</p>
            <li class="news-li">2025-07-10 初心から雀士に昇格</li>
        </ul>
    </section>
</div>

<style>
    #container {
        margin: 0 auto;
        padding: 24px;
        border-radius: 12px;
    }
    .news ul,
    .news li {
        margin-bottom: 0.3em;
    }
    .links a {
        margin-right: 0.5em;
        color: #333;
    }
</style>
