---
import { SNS_LINKS } from '../config/site';
---

<div class="sns-links">
	{SNS_LINKS.map((link: any) => (
		<a href={link.href} target="_blank" rel="noopener noreferrer">
			<img src={link.icon} alt={link.alt} />
		</a>
	))}
</div>

<style>
	.sns-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.2em;
		margin: 2em 0;
	}
	.sns-links a img {
		width: 32px;
		height: 32px;
		display: block;
		transition: transform 0.2s;
	}
	.sns-links a img:hover {
		transform: scale(1.5);
	}
</style>
