<div class="post-list">
    <slot />
</div>

<style>
    .post-list {
        padding: 0 20px;
    }
    @media (min-width: 1025px) {
        .post-list {
            padding: 0 100px;
        }
    }
</style>